[submodule "personal-exercism-practice"]
	path = personal-exercism-practice
	url = https://github.com/SeikaHirori/personal-exercism-practice
[submodule "projects/hacking with swift/WeSplit"]
	path = projects/hacking with swift/WeSplit
	url = https://github.com/SeikaHirori/WeSplit
[submodule "learning materials/TDD-iOS-Dev-with-Swift---4th-Edition"]
	path = learning materials/TDD-iOS-Dev-with-Swift---4th-Edition
	url = https://github.com/SeikaHirori/TDD-iOS-Dev-with-Swift---4th-Edition
[submodule "projects/hacking with swift/unit-conversion"]
	path = projects/hacking with swift/unit-conversion
	url = https://github.com/SeikaHirori/unit-conversion
[submodule "projects/hacking with swift/unitConversion_iOS"]
	path = projects/hacking with swift/unitConversion_iOS
	url = https://github.com/SeikaHirori/unitConversion_iOS
[submodule "projects/hacking with swift/Guess-the-Flag"]
	path = projects/hacking with swift/Guess-the-Flag
	url = https://github.com/SeikaHirori/Guess-the-Flag
[submodule "projects/hacking with swift/ViewsAndModifiers"]
	path = projects/hacking with swift/ViewsAndModifiers
	url = https://github.com/SeikaHirori/ViewsAndModifiers
